#before{ onclick: 'doStuff();', ontouchstart: 'doStuff();' }
  = image_tag('before.png')

#after.hidden
  = image_tag('after.png')
  %br
  %button.btn{ onclick: 'resetStuff();', ontouchstart: 'resetStuff();' } Try Again
