// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

#before {
  cursor: pointer;
  margin-bottom: 40px;
}

.btn {
  padding: 5px 10px;
  background-color: white;
  font-size: 20px;
  margin: 5px 25px;
  border-radius: 5px;
  cursor: pointer;
  color: #3a3a3a;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

body.fail {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(121,9,9,1) 100%, rgba(0,0,0,1) 100%);
}
